.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 34px 0;

  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__name {
  margin: 0 auto;
  max-width: 420px;

  display: flex;
  flex-wrap: wrap;

  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 12px 0 0 0;
  max-width: 420px;

  display: flex;
  flex-wrap: wrap;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn[type="upload"] {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-top: auto;
  padding: 0;
  width: 107px;
  gap: 20px;

  opacity: 0.75;
  border: none;
  background-color: transparent;

  transition: 0.25s linear;
}

.profile__edit-btn[type="upload"]:hover {
  opacity: 1;
}

.profile__new-post-btn[type="upload"] {
  display: flex;
  align-self: flex-end;

  width: Fixed (149px) px;
  height: Hug (52px) px;
  margin-left: auto;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  border-radius: 8px;

  background-color: #212121;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fcf5e5;

  transition: 0.25s linear;
}

.profile__new-post-btn[type="upload"]:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 auto;
    padding-bottom: 12px;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
  }

  .profile__column {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  .profile__name {
    padding-bottom: 6px;
    max-width: 288px;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 20px;
  }

  .profile__description {
    margin: 0 0 32px 0;

    display: flex;
    justify-content: center;
  }

  .profile__edit-btn {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .profile__new-post-btn {
    margin: 0 auto;
  }
}
