.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 34px 0 20px;

  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 8px;

  cursor: pointer;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__name {
  margin: 0 auto;
  max-width: 420px;
  height: 40px;

  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  line-height: 1;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 12px 0 0 0;
  max-width: 420px;
  height: 40px;

  display: flex;
  flex-wrap: wrap;

  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-icon {
}

.profile__edit-btn {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-top: auto;
  padding: 0;
  width: 107px;
  gap: 20px;

  opacity: 0.75;
  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: 0.25s linear;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  width: 152px;
  height: 52px;
  margin-left: auto;
  padding: 0;
  gap: 8px;
  border-radius: 8px;

  background-color: #212121;

  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fcf5e5;

  cursor: pointer;
  transition: 0.25s linear;
}

.profile__new-post-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 288px;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 auto 12px;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
  }

  .profile__column {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
  }

  .profile__name {
    margin-bottom: 6px;
    max-width: 288px;

    text-align: center;
    font-size: 20px;
  }

  .profile__description {
    margin: 0 0 32px 0;

    text-align: center;
  }

  .profile__edit-btn {
    margin: 0 auto;
    max-width: 288px;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .profile__new-post-btn {
    margin: 0 auto;
    width: 100%;
  }
}
